.index__page {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4px;
    height: calc(100vh - 30px);
}

.index__item {
    border-radius: 10px;
    background: white;
    text-align: center;
    height: 31%;
    width: calc(25% - 4px);
}

img.default-pic {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}


nav.nav-bar {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(46, 45, 45, 0.22);
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 1%;
}

img.icon-img {
    width: 30px;
    align-self: center;
}

section.profile-settings {
    align-self: center;
    display: flex;
}

nav > h1 {
    font-weight: 400;
    color: #fff;
}

.card {
    border: none;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 13px;
    width: 10vw;
    text-align: center;
    border-radius: 6px;
    margin: 12px;
    background-color: #fff;
    cursor: pointer;
  }

  section.add-component {
    display: flex;
    margin: 4% 0;
}

main {
    width: -webkit-fill-available;
    margin-top: 10vh;
}

section.card-top-content > img {
    width: 29px;
    height: 29px;
}

section.card-top-content {
    display: flex;
    justify-content: space-between;
    margin: 0 2px 14px 0px;
}

section.card-top-content > b {
    color: #0000008f;
}

body {
    background-image: url("assets/images/Desktop\ -\ 2.png");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.card > h3 {
    margin-bottom: 0px;
    color: #0000008f;
}

.card > img {
    width: 30px;
    height: 40px;
}

.componet-to-be {
    width: 20vw;
    padding: 2%;
}

.device-component-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 7px;
    padding: 7%;
    margin: 13px 0;
}

section.rooms-components {
    display: flex;
}

section.rooms-components > hr{
    height: 200px;
    align-self: center;
}

hr {
    border-color: #c5bbbb4d;
}

#hidden-forms #add-device-form,
#hidden-forms #add-room-form {
    display: none;
}

#hidden-forms {
    background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
    text-align: -webkit-center;
	justify-content: center;
	align-items: center;
}

#hidden-forms > form {
    /* height: 200px; */
    width: 400px;
    background-color: white;
    text-align: center;
    padding: 20px;
    top: 20vh;
    position: relative;
    border-radius: 4px;
}

#hidden-forms > form > select{
    width: 220px;
    padding: 8px;
    margin: 15px, auto;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
}

form button {
	background-color:  #1686d9;
	border: 2px solid white;
	border-radius: 30px;
	text-decoration: none;
	padding: 10px 28px;
	color: white;
	margin-top: 10px;
	display: inline-block;
    width: 120px;
    height: 43px;
}

form button:hover {
    background-color: white;
    color:  #1686d9;
    border: 2px solid  #1686d9;
}