.colorSelector__container { 
    font-family: sans-serif;
}

.colorSelector__image {
    width: 20px;
}

.colorSelector__icon {
    position: relative;
    display: block;
    width: 20px;
    margin-right: 5px;
    margin-left: auto;
}

.colorSelector__content { 
    text-align: center;
    font-family: sans-serif;
}

.colorSelector__inputs {
    
    min-width: none;
}

.colorSelector__label {
    font-size: 10px;
    display: block;
    padding-top: 10px;
}

select {
    font-size: 20px;
    position: relative;
    width: 90%;
    max-width: 300px;
}
