<div class='colorSelector__container index__item'>
    <link rel="stylesheet" href="./components/colorSelector/colorSelector.css">
    <div class="more-options">
        <image class="colorSelector__icon" src="./assets/images/delete.png" onclick="deleteElement(this.parentElement)"></image>
        <input type="image" class="colorSelector__icon" src="./assets/images/settings.png" onclick="makeHidden(this.parentElement, 'csContent','csInput')"/>
    </div>
    <div id="csContent" class='colorSelector__content'>
        <h1 id="heading"></h1>
        <p id="subheading"></p>
        <input type="color">
    </div>
    <div id="csInput" class="colorSelector__inputs" hidden="true">
        <label class="colorSelector__label">Device</label>
        <select id="csSelectDevice" type="text">
            <option value="r.png">Device1</option>
            <option value="b.png">Device2</option>
            <option value="settings.png">Device3</option>
            <option value="Device4">Device4</option>
        </select>

        <label class="colorSelector__label">On Button</label>
        <select id="csSelectOnButton" type="text">
            <option value="Lights on">Lights on</option>
            <option value="AAA">AAA</option>
            <option value="BBB">BBB</option>
            <option value="CCC">AuCCCdi</option>
        </select>
    </div>
</div>