.index__page {
    background-color: whitesmoke;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 4px;
}

.index__item {
    border-radius: 10px;
    background: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;

}

img.default-pic {
    width: 50px;
    height: 50px;
    margin-right: 40px;
}


nav.nav-bar {
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    background: rgba(46, 45, 45, 0.22);
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 1%;
}

img.icon-img {
    width: 30px;
    align-self: center;
}

section.profile-settings {
    align-self: center;
    display: flex;
}

nav > h1 {
    font-weight: 400;
    color: #fff;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
    padding: 13px;
    width: 10vw;
    text-align: center;
    border-radius: 6px;
    margin: 12px;
    background-color: #fff;
  }

  section.add-component {
    display: flex;
    margin: 4% 0;
}

main {
    width: -webkit-fill-available;
    margin-top: 10vh;
}

section.card-top-content > img {
    width: 29px;
    height: 29px;
}

section.card-top-content {
    display: flex;
    justify-content: space-between;
    margin: 0 2px 14px 0px;
}

section.card-top-content > b {
    color: #0000008f;
}

body {
    background-image: url("assets/images/Desktop\ -\ 2.png");
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

.card > h3 {
    margin-bottom: 0px;
    color: #0000008f;
}

.card > img {
    width: 30px;
    height: 40px;
}

.componet-to-be {
    width: 20vw;
    padding: 2%;
}

.device-component-card {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    border-radius: 7px;
    padding: 7%;
    margin: 13px 0;
}

.rooms-components {
    display: flex;
    flex-wrap: wrap;
}

.rooms-components > hr{
    height: 200px;
    align-self: center;
}

.room-component {
    margin-left: 10px;
    margin-right: 10px;
    width: calc(33% - 40px);
    min-width: 250px;
}

hr {
    border-color: #c5bbbb4d;
    margin-left: 1%;
    margin-right: 1%;
}

.headerbuttons {
    margin-top: 19px;
    margin-bottom: 19px;
}