.onoffswitch__container { 
    font-family: sans-serif;
}

.onoffswitch__image {
    width: 20px;
}

.onoffswitch__icon {
    position: relative;
    display: block;
    width: 20px;
    /* margin-right: 5px;
    margin-left: auto; */
}

.more-options {
    display: flex;
    justify-content: space-between;
}

.onoffswitch__content { 
    text-align: center;
    font-family: sans-serif;
}

.onoffswitch__inputs {
    
    min-width: none;
}

.onoffswitch__label {
    font-size: 10px;
    display: block;
    padding-top: 10px;
}

select {
    font-size: 20px;
    position: relative;
    width: 90%;
    max-width: 300px;
}