.onoffswitch__container { 
    font-family: sans-serif;
}

.onoffswitch__image {
    width: 20px;
}

.onoffswitch__icon {
    position: relative;
    display: block;
    width: 20px;
    /* margin-right: 5px;
    margin-left: auto; */
}

.more-options {
    display: flex;
    justify-content: space-between;
}

.onoffswitch__content { 
    text-align: center;
    font-family: sans-serif;
}

.onoffswitch__inputs {
    
    min-width: none;
}

.onoffswitch__label {
    font-size: 10px;
    display: block;
    padding-top: 10px;
}

select {
    font-size: 20px;
    position: relative;
    width: 90%;
    max-width: 300px;
}

.checkbox {
    position: relative;
    display: inline-block;
  }
  .checkbox:after, .checkbox:before {
    font-family: FontAwesome;
    font-feature-settings: normal;
    -webkit-font-kerning: auto;
            font-kerning: auto;
    font-language-override: normal;
    font-stretch: normal;
    font-style: normal;
    font-synthesis: weight style;
    font-variant: normal;
    font-weight: normal;
    text-rendering: auto;
  }
  .checkbox label {
    width: 53px;
    height: 32px;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 46px;
    transition: 0.4s;
  }
  .checkbox label:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 0;
    top: -5px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
  }
  .checkbox input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .checkbox input:hover + label:after {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
  }
  .checkbox input:checked + label:after {
    left: 40px;
  }
  .light-switch .checkbox label {
    background: none;
    border: 3px solid #555;
    height: 20px;
  }
  .light-switch .checkbox label:after {
    background: #555;
    box-shadow: none;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
  }
  .light-switch .checkbox input:checked + label {
    border-color: #f4df22
  }
  .light-switch .checkbox input:checked + label:after {
    background: #f4df22;
    left: 34px;
  }